.App {
  padding: 25px;
  display: grid;
  align-items: center;
  text-align: center;
  background-color: #DFE6EE;
  max-width: 100%;
}

thead th {
  background: linear-gradient(to bottom, #eeeded, #FFF) ;
  border-bottom: 2px solid #dadada;
  cursor: pointer;
}

td {
  padding-bottom: 10px;
}